.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

@each $color, $hexvalue in $all-colors {
    .callout-#{$color}{
        border-left-color: $hexvalue;

        & .callout-title{
            color: $hexvalue;
        }

        & .callout-link{
            color: $hexvalue;
        }

        & hr {
            border-top-color: $hexvalue;
        }
    }
}