/* Variables and Functions */
/* Things with all the colors */
.callout {
  background-color: #fff;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .5rem;
  border-radius: .25rem;
}

.callout-primary {
  border-color: #007bff;
}

.callout-primary .callout-text {
  color: #007bff;
}

.callout-primary .callout-link {
  color: #007bff;
}

.callout-primary hr {
  border-top-color: #007bff;
}

.callout-secondary {
  border-color: #6c757d;
}

.callout-secondary .callout-text {
  color: #6c757d;
}

.callout-secondary .callout-link {
  color: #6c757d;
}

.callout-secondary hr {
  border-top-color: #6c757d;
}

.callout-success {
  border-color: #28a745;
}

.callout-success .callout-text {
  color: #28a745;
}

.callout-success .callout-link {
  color: #28a745;
}

.callout-success hr {
  border-top-color: #28a745;
}

.callout-info {
  border-color: #17a2b8;
}

.callout-info .callout-text {
  color: #17a2b8;
}

.callout-info .callout-link {
  color: #17a2b8;
}

.callout-info hr {
  border-top-color: #17a2b8;
}

.callout-warning {
  border-color: #ffc107;
}

.callout-warning .callout-text {
  color: #ffc107;
}

.callout-warning .callout-link {
  color: #ffc107;
}

.callout-warning hr {
  border-top-color: #ffc107;
}

.callout-danger {
  border-color: #dc3545;
}

.callout-danger .callout-text {
  color: #dc3545;
}

.callout-danger .callout-link {
  color: #dc3545;
}

.callout-danger hr {
  border-top-color: #dc3545;
}

.callout-light {
  border-color: #f8f9fa;
}

.callout-light .callout-text {
  color: #f8f9fa;
}

.callout-light .callout-link {
  color: #f8f9fa;
}

.callout-light hr {
  border-top-color: #f8f9fa;
}

.callout-dark {
  border-color: #343a40;
}

.callout-dark .callout-text {
  color: #343a40;
}

.callout-dark .callout-link {
  color: #343a40;
}

.callout-dark hr {
  border-top-color: #343a40;
}

.callout-magic {
  border-color: #ae42bd;
}

.callout-magic .callout-text {
  color: #ae42bd;
}

.callout-magic .callout-link {
  color: #ae42bd;
}

.callout-magic hr {
  border-top-color: #ae42bd;
}

.callout-juice {
  border-color: #fd9800;
}

.callout-juice .callout-text {
  color: #fd9800;
}

.callout-juice .callout-link {
  color: #fd9800;
}

.callout-juice hr {
  border-top-color: #fd9800;
}

.callout-ocean {
  border-color: #00cca3;
}

.callout-ocean .callout-text {
  color: #00cca3;
}

.callout-ocean .callout-link {
  color: #00cca3;
}

.callout-ocean hr {
  border-top-color: #00cca3;
}

.callout-cake {
  border-color: #ffb4bf;
}

.callout-cake .callout-text {
  color: #ffb4bf;
}

.callout-cake .callout-link {
  color: #ffb4bf;
}

.callout-cake hr {
  border-top-color: #ffb4bf;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: inherit;
  font-weight: bold;
  line-height: 1;
  max-width: 100%;
  max-height: auto;
  text-align: center;
  overflow: visible;
  position: relative;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.circle-xxs {
  width: 1rem;
  height: 1rem;
}

.circle-xs {
  width: 2rem;
  height: 2rem;
}

.circle-sm {
  width: 3rem;
  height: 3rem;
}

.circle-lg {
  width: 5rem;
  height: 5rem;
}

.circle-xl {
  width: 6rem;
  height: 6rem;
}

.circle-xxl {
  width: 7rem;
  height: 7rem;
}

.circle-state-xxs {
  width: .5rem;
  height: .5rem;
  transform: translate(-100%, 75%);
}

.circle-state-xs {
  width: 1rem;
  height: 1rem;
  transform: translate(-100%, 75%);
}

.circle-state-sm {
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(-100%, 75%);
}

.circle-state {
  width: 2rem;
  height: 2rem;
  transform: translate(-100%, 75%);
}

.circle-state-lg {
  width: 2.5rem;
  height: 2.5rem;
  transform: translate(-100%, 75%);
}

.circle-state-xl {
  width: 3rem;
  height: 3rem;
  transform: translate(-100%, 75%);
}

.circle-state-xxl {
  width: 3.5rem;
  height: 3.5rem;
  transform: translate(-100%, 75%);
}

.circle-primary {
  background-color: #1a88ff;
  border-color: #007bff;
  color: #fff;
}

.circle-secondary {
  background-color: #78828a;
  border-color: #6c757d;
  color: #fff;
}

.circle-success {
  background-color: #2dbc4e;
  border-color: #28a745;
  color: #fff;
}

.circle-info {
  background-color: #1ab6cf;
  border-color: #17a2b8;
  color: #fff;
}

.circle-warning {
  background-color: #ffc721;
  border-color: #ffc107;
  color: #212529;
}

.circle-danger {
  background-color: #e04b59;
  border-color: #dc3545;
  color: #fff;
}

.circle-light {
  background-color: white;
  border-color: #f8f9fa;
  color: #212529;
}

.circle-dark {
  background-color: #3f474e;
  border-color: #343a40;
  color: #fff;
}

.circle-magic {
  background-color: #b655c4;
  border-color: #ae42bd;
  color: #fff;
}

.circle-juice {
  background-color: #ffa318;
  border-color: #fd9800;
  color: #fff;
}

.circle-ocean {
  background-color: #00e6b7;
  border-color: #00cca3;
  color: #fff;
}

.circle-cake {
  background-color: #ffced5;
  border-color: #ffb4bf;
  color: #212529;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: -220px;
  width: 220px;
  height: 100vh;
  transition: all .5s ease;
  z-index: 6969;
  user-select: none;
}

.sidebar.toggled {
  left: 0;
}

.sidebar .sidebar-brand {
  font-size: 1.5rem;
  text-align: center;
  line-height: 4rem;
}

.sidebar .sidebar-brand a {
  text-decoration: none;
}

.sidebar-nav {
  list-style: none;
  padding: 10;
}

.sidebar-nav .sidebar-link {
  text-decoration: none;
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 3rem;
  font-size: 1rem;
  box-sizing: border-box;
  transition: .5s;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-nav .sidebar-item:hover .sidebar-link {
  padding-left: 30px;
}

.sidebar-nav .sidebar-item.active .sidebar-link {
  padding-left: 30px;
}

.sidebar-primary {
  background-color: #007bff;
  color: #fff;
}

.sidebar-primary hr {
  border-top-color: #007bff;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-primary .sidebar-brand a {
  color: #fff;
}

.sidebar-primary .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-primary .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #0062cc;
}

.sidebar-primary .sidebar-item:hover .sidebar-link {
  background-color: #0062cc;
}

.sidebar-secondary {
  background-color: #6c757d;
  color: #fff;
}

.sidebar-secondary hr {
  border-top-color: #6c757d;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-secondary .sidebar-brand a {
  color: #fff;
}

.sidebar-secondary .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-secondary .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #545b62;
}

.sidebar-secondary .sidebar-item:hover .sidebar-link {
  background-color: #545b62;
}

.sidebar-success {
  background-color: #28a745;
  color: #fff;
}

.sidebar-success hr {
  border-top-color: #28a745;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-success .sidebar-brand a {
  color: #fff;
}

.sidebar-success .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-success .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #1e7e34;
}

.sidebar-success .sidebar-item:hover .sidebar-link {
  background-color: #1e7e34;
}

.sidebar-info {
  background-color: #17a2b8;
  color: #fff;
}

.sidebar-info hr {
  border-top-color: #17a2b8;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-info .sidebar-brand a {
  color: #fff;
}

.sidebar-info .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-info .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #117a8b;
}

.sidebar-info .sidebar-item:hover .sidebar-link {
  background-color: #117a8b;
}

.sidebar-warning {
  background-color: #ffc107;
  color: #212529;
}

.sidebar-warning hr {
  border-top-color: #ffc107;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-warning .sidebar-brand a {
  color: #212529;
}

.sidebar-warning .sidebar-nav .sidebar-item .sidebar-link {
  color: #212529;
}

.sidebar-warning .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #d39e00;
}

.sidebar-warning .sidebar-item:hover .sidebar-link {
  background-color: #d39e00;
}

.sidebar-danger {
  background-color: #dc3545;
  color: #fff;
}

.sidebar-danger hr {
  border-top-color: #dc3545;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-danger .sidebar-brand a {
  color: #fff;
}

.sidebar-danger .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-danger .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #bd2130;
}

.sidebar-danger .sidebar-item:hover .sidebar-link {
  background-color: #bd2130;
}

.sidebar-light {
  background-color: #f8f9fa;
  color: #212529;
}

.sidebar-light hr {
  border-top-color: #f8f9fa;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-light .sidebar-brand a {
  color: #212529;
}

.sidebar-light .sidebar-nav .sidebar-item .sidebar-link {
  color: #212529;
}

.sidebar-light .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #dae0e5;
}

.sidebar-light .sidebar-item:hover .sidebar-link {
  background-color: #dae0e5;
}

.sidebar-dark {
  background-color: #343a40;
  color: #fff;
}

.sidebar-dark hr {
  border-top-color: #343a40;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-dark .sidebar-brand a {
  color: #fff;
}

.sidebar-dark .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-dark .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #1d2124;
}

.sidebar-dark .sidebar-item:hover .sidebar-link {
  background-color: #1d2124;
}

.sidebar-magic {
  background-color: #ae42bd;
  color: #fff;
}

.sidebar-magic hr {
  border-top-color: #ae42bd;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-magic .sidebar-brand a {
  color: #fff;
}

.sidebar-magic .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-magic .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #8b3597;
}

.sidebar-magic .sidebar-item:hover .sidebar-link {
  background-color: #8b3597;
}

.sidebar-juice {
  background-color: #fd9800;
  color: #fff;
}

.sidebar-juice hr {
  border-top-color: #fd9800;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-juice .sidebar-brand a {
  color: #fff;
}

.sidebar-juice .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-juice .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #ca7900;
}

.sidebar-juice .sidebar-item:hover .sidebar-link {
  background-color: #ca7900;
}

.sidebar-ocean {
  background-color: #00cca3;
  color: #fff;
}

.sidebar-ocean hr {
  border-top-color: #00cca3;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-ocean .sidebar-brand a {
  color: #fff;
}

.sidebar-ocean .sidebar-nav .sidebar-item .sidebar-link {
  color: #fff;
}

.sidebar-ocean .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #00997a;
}

.sidebar-ocean .sidebar-item:hover .sidebar-link {
  background-color: #00997a;
}

.sidebar-cake {
  background-color: #ffb4bf;
  color: #212529;
}

.sidebar-cake hr {
  border-top-color: #ffb4bf;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sidebar-cake .sidebar-brand a {
  color: #212529;
}

.sidebar-cake .sidebar-nav .sidebar-item .sidebar-link {
  color: #212529;
}

.sidebar-cake .sidebar-nav .sidebar-item.active .sidebar-link {
  background-color: #ff8193;
}

.sidebar-cake .sidebar-item:hover .sidebar-link {
  background-color: #ff8193;
}

.login {
  height: 100vh;
  width: 100vw;
  color: #eee;
  background-color: #eee;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6968;
}

.login hr {
  border: 1px solid #fff;
}

.login .login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: .75rem;
}

.login .login-form .login-title {
  margin: 0 0 2rem;
  padding: 0;
  color: #fff;
}

.login .login-form .login-group {
  position: relative;
}

.login .login-form .login-group .login-control {
  width: 100%;
  padding: .75rem 0;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  letter-spacing: 1px;
}

.login .login-form .login-group .login-control:focus ~ .login-label,
.login .login-form .login-group .login-control.focus ~ .login-label,
.login .login-form .login-group .login-control:valid ~ .login-label,
.login .login-form .login-group .login-control.valid ~ .login-label {
  top: -1.5rem;
  left: 0;
  color: #eee;
}

.login .login-form .login-group .login-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: .75rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  letter-spacing: 1px;
}

.login.login-primary {
  background-color: #007bff;
}

.login.login-primary hr {
  border: 1px solid #007bff;
}

.login.login-primary a, .login.login-primary .btn-link {
  color: #007bff;
}

.login.login-primary .login-form .login-group .login-control:focus ~ .login-label,
.login.login-primary .login-form .login-group .login-control.focus ~ .login-label,
.login.login-primary .login-form .login-group .login-control:valid ~ .login-label,
.login.login-primary .login-form .login-group .login-control.valid ~ .login-label {
  color: #007bff;
}

.login.login-secondary {
  background-color: #6c757d;
}

.login.login-secondary hr {
  border: 1px solid #6c757d;
}

.login.login-secondary a, .login.login-secondary .btn-link {
  color: #6c757d;
}

.login.login-secondary .login-form .login-group .login-control:focus ~ .login-label,
.login.login-secondary .login-form .login-group .login-control.focus ~ .login-label,
.login.login-secondary .login-form .login-group .login-control:valid ~ .login-label,
.login.login-secondary .login-form .login-group .login-control.valid ~ .login-label {
  color: #6c757d;
}

.login.login-success {
  background-color: #28a745;
}

.login.login-success hr {
  border: 1px solid #28a745;
}

.login.login-success a, .login.login-success .btn-link {
  color: #28a745;
}

.login.login-success .login-form .login-group .login-control:focus ~ .login-label,
.login.login-success .login-form .login-group .login-control.focus ~ .login-label,
.login.login-success .login-form .login-group .login-control:valid ~ .login-label,
.login.login-success .login-form .login-group .login-control.valid ~ .login-label {
  color: #28a745;
}

.login.login-info {
  background-color: #17a2b8;
}

.login.login-info hr {
  border: 1px solid #17a2b8;
}

.login.login-info a, .login.login-info .btn-link {
  color: #17a2b8;
}

.login.login-info .login-form .login-group .login-control:focus ~ .login-label,
.login.login-info .login-form .login-group .login-control.focus ~ .login-label,
.login.login-info .login-form .login-group .login-control:valid ~ .login-label,
.login.login-info .login-form .login-group .login-control.valid ~ .login-label {
  color: #17a2b8;
}

.login.login-warning {
  background-color: #ffc107;
}

.login.login-warning hr {
  border: 1px solid #ffc107;
}

.login.login-warning a, .login.login-warning .btn-link {
  color: #ffc107;
}

.login.login-warning .login-form .login-group .login-control:focus ~ .login-label,
.login.login-warning .login-form .login-group .login-control.focus ~ .login-label,
.login.login-warning .login-form .login-group .login-control:valid ~ .login-label,
.login.login-warning .login-form .login-group .login-control.valid ~ .login-label {
  color: #ffc107;
}

.login.login-danger {
  background-color: #dc3545;
}

.login.login-danger hr {
  border: 1px solid #dc3545;
}

.login.login-danger a, .login.login-danger .btn-link {
  color: #dc3545;
}

.login.login-danger .login-form .login-group .login-control:focus ~ .login-label,
.login.login-danger .login-form .login-group .login-control.focus ~ .login-label,
.login.login-danger .login-form .login-group .login-control:valid ~ .login-label,
.login.login-danger .login-form .login-group .login-control.valid ~ .login-label {
  color: #dc3545;
}

.login.login-light {
  background-color: #f8f9fa;
}

.login.login-light hr {
  border: 1px solid #f8f9fa;
}

.login.login-light a, .login.login-light .btn-link {
  color: #f8f9fa;
}

.login.login-light .login-form .login-group .login-control:focus ~ .login-label,
.login.login-light .login-form .login-group .login-control.focus ~ .login-label,
.login.login-light .login-form .login-group .login-control:valid ~ .login-label,
.login.login-light .login-form .login-group .login-control.valid ~ .login-label {
  color: #f8f9fa;
}

.login.login-dark {
  background-color: #343a40;
}

.login.login-dark hr {
  border: 1px solid #343a40;
}

.login.login-dark a, .login.login-dark .btn-link {
  color: #343a40;
}

.login.login-dark .login-form .login-group .login-control:focus ~ .login-label,
.login.login-dark .login-form .login-group .login-control.focus ~ .login-label,
.login.login-dark .login-form .login-group .login-control:valid ~ .login-label,
.login.login-dark .login-form .login-group .login-control.valid ~ .login-label {
  color: #343a40;
}

.login.login-magic {
  background-color: #ae42bd;
}

.login.login-magic hr {
  border: 1px solid #ae42bd;
}

.login.login-magic a, .login.login-magic .btn-link {
  color: #ae42bd;
}

.login.login-magic .login-form .login-group .login-control:focus ~ .login-label,
.login.login-magic .login-form .login-group .login-control.focus ~ .login-label,
.login.login-magic .login-form .login-group .login-control:valid ~ .login-label,
.login.login-magic .login-form .login-group .login-control.valid ~ .login-label {
  color: #ae42bd;
}

.login.login-juice {
  background-color: #fd9800;
}

.login.login-juice hr {
  border: 1px solid #fd9800;
}

.login.login-juice a, .login.login-juice .btn-link {
  color: #fd9800;
}

.login.login-juice .login-form .login-group .login-control:focus ~ .login-label,
.login.login-juice .login-form .login-group .login-control.focus ~ .login-label,
.login.login-juice .login-form .login-group .login-control:valid ~ .login-label,
.login.login-juice .login-form .login-group .login-control.valid ~ .login-label {
  color: #fd9800;
}

.login.login-ocean {
  background-color: #00cca3;
}

.login.login-ocean hr {
  border: 1px solid #00cca3;
}

.login.login-ocean a, .login.login-ocean .btn-link {
  color: #00cca3;
}

.login.login-ocean .login-form .login-group .login-control:focus ~ .login-label,
.login.login-ocean .login-form .login-group .login-control.focus ~ .login-label,
.login.login-ocean .login-form .login-group .login-control:valid ~ .login-label,
.login.login-ocean .login-form .login-group .login-control.valid ~ .login-label {
  color: #00cca3;
}

.login.login-cake {
  background-color: #ffb4bf;
}

.login.login-cake hr {
  border: 1px solid #ffb4bf;
}

.login.login-cake a, .login.login-cake .btn-link {
  color: #ffb4bf;
}

.login.login-cake .login-form .login-group .login-control:focus ~ .login-label,
.login.login-cake .login-form .login-group .login-control.focus ~ .login-label,
.login.login-cake .login-form .login-group .login-control:valid ~ .login-label,
.login.login-cake .login-form .login-group .login-control.valid ~ .login-label {
  color: #ffb4bf;
}

@media (min-width: 0) {
  .login-form {
    min-width: 90vw;
  }
}

@media (min-width: 576px) {
  .login-form {
    min-width: 80vw;
  }
}

@media (min-width: 768px) {
  .login-form {
    min-width: 60vw;
  }
}

@media (min-width: 992px) {
  .login-form {
    min-width: 40vw;
  }
}

@media (min-width: 1200px) {
  .login-form {
    min-width: 40vw;
  }
}

/* Things with only new colors */
.btn-magic {
  color: #fff;
  background-color: #ae42bd;
  border-color: #ae42bd;
}

.btn-magic:hover {
  color: #fff;
  background-color: #8b3597;
  border-color: #8b3597;
}

.btn-magic.focus, .btn-magic:focus {
  color: #fff;
  background-color: #8b3597;
  border-color: #8b3597;
  box-shadow: 0 0 0 0.2rem #8b3597;
}

.btn-magic.disabled, .btn-magic:disabled {
  color: #fff;
  background-color: #b655c4;
  border-color: #b655c4;
}

.btn-magic:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-magic:not(:disabled):not(.disabled):active, .btn-magic:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem #ae42bd;
}

.btn-magic:not(:disabled):not(.disabled):active:focus, .btn-magic:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #8b3597;
}

.btn-outline-magic {
  color: #ae42bd;
  border-color: #ae42bd;
}

.btn-outline-magic:hover {
  color: #fff;
  background-color: #ae42bd;
  border-color: #ae42bd;
}

.btn-outline-magic.focus, .btn-outline-magic:focus {
  color: #fff;
  background-color: #ae42bd;
  border-color: #ae42bd;
  box-shadow: 0 0 0 0.2rem #ae42bd;
}

.btn-outline-magic.disabled, .btn-outline-magic:disabled {
  color: #b655c4;
  background-color: transparent;
  border-color: #b655c4;
}

.btn-outline-magic:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-outline-magic:not(:disabled):not(.disabled):active, .btn-outline-magic:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem #ae42bd;
}

.btn-outline-magic:not(:disabled):not(.disabled):active:focus, .btn-outline-magic:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #8b3597;
}

.btn-juice {
  color: #fff;
  background-color: #fd9800;
  border-color: #fd9800;
}

.btn-juice:hover {
  color: #fff;
  background-color: #ca7900;
  border-color: #ca7900;
}

.btn-juice.focus, .btn-juice:focus {
  color: #fff;
  background-color: #ca7900;
  border-color: #ca7900;
  box-shadow: 0 0 0 0.2rem #ca7900;
}

.btn-juice.disabled, .btn-juice:disabled {
  color: #fff;
  background-color: #ffa318;
  border-color: #ffa318;
}

.btn-juice:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-juice:not(:disabled):not(.disabled):active, .btn-juice:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem #fd9800;
}

.btn-juice:not(:disabled):not(.disabled):active:focus, .btn-juice:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #ca7900;
}

.btn-outline-juice {
  color: #fd9800;
  border-color: #fd9800;
}

.btn-outline-juice:hover {
  color: #fff;
  background-color: #fd9800;
  border-color: #fd9800;
}

.btn-outline-juice.focus, .btn-outline-juice:focus {
  color: #fff;
  background-color: #fd9800;
  border-color: #fd9800;
  box-shadow: 0 0 0 0.2rem #fd9800;
}

.btn-outline-juice.disabled, .btn-outline-juice:disabled {
  color: #ffa318;
  background-color: transparent;
  border-color: #ffa318;
}

.btn-outline-juice:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-outline-juice:not(:disabled):not(.disabled):active, .btn-outline-juice:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem #fd9800;
}

.btn-outline-juice:not(:disabled):not(.disabled):active:focus, .btn-outline-juice:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #ca7900;
}

.btn-ocean {
  color: #fff;
  background-color: #00cca3;
  border-color: #00cca3;
}

.btn-ocean:hover {
  color: #fff;
  background-color: #00997a;
  border-color: #00997a;
}

.btn-ocean.focus, .btn-ocean:focus {
  color: #fff;
  background-color: #00997a;
  border-color: #00997a;
  box-shadow: 0 0 0 0.2rem #00997a;
}

.btn-ocean.disabled, .btn-ocean:disabled {
  color: #fff;
  background-color: #00e6b7;
  border-color: #00e6b7;
}

.btn-ocean:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-ocean:not(:disabled):not(.disabled):active, .btn-ocean:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem #00cca3;
}

.btn-ocean:not(:disabled):not(.disabled):active:focus, .btn-ocean:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #00997a;
}

.btn-outline-ocean {
  color: #00cca3;
  border-color: #00cca3;
}

.btn-outline-ocean:hover {
  color: #fff;
  background-color: #00cca3;
  border-color: #00cca3;
}

.btn-outline-ocean.focus, .btn-outline-ocean:focus {
  color: #fff;
  background-color: #00cca3;
  border-color: #00cca3;
  box-shadow: 0 0 0 0.2rem #00cca3;
}

.btn-outline-ocean.disabled, .btn-outline-ocean:disabled {
  color: #00e6b7;
  background-color: transparent;
  border-color: #00e6b7;
}

.btn-outline-ocean:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-outline-ocean:not(:disabled):not(.disabled):active, .btn-outline-ocean:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem #00cca3;
}

.btn-outline-ocean:not(:disabled):not(.disabled):active:focus, .btn-outline-ocean:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #00997a;
}

.btn-cake {
  color: #212529;
  background-color: #ffb4bf;
  border-color: #ffb4bf;
}

.btn-cake:hover {
  color: #212529;
  background-color: #ff8193;
  border-color: #ff8193;
}

.btn-cake.focus, .btn-cake:focus {
  color: #212529;
  background-color: #ff8193;
  border-color: #ff8193;
  box-shadow: 0 0 0 0.2rem #ff8193;
}

.btn-cake.disabled, .btn-cake:disabled {
  color: #212529;
  background-color: #ffced5;
  border-color: #ffced5;
}

.btn-cake:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-cake:not(:disabled):not(.disabled):active, .btn-cake:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem #ffb4bf;
}

.btn-cake:not(:disabled):not(.disabled):active:focus, .btn-cake:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #ff8193;
}

.btn-outline-cake {
  color: #ffb4bf;
  border-color: #ffb4bf;
}

.btn-outline-cake:hover {
  color: #212529;
  background-color: #ffb4bf;
  border-color: #ffb4bf;
}

.btn-outline-cake.focus, .btn-outline-cake:focus {
  color: #212529;
  background-color: #ffb4bf;
  border-color: #ffb4bf;
  box-shadow: 0 0 0 0.2rem #ffb4bf;
}

.btn-outline-cake.disabled, .btn-outline-cake:disabled {
  color: #ffced5;
  background-color: transparent;
  border-color: #ffced5;
}

.btn-outline-cake:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-outline-cake:not(:disabled):not(.disabled):active, .btn-outline-cake:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 0 0.2rem #ffb4bf;
}

.btn-outline-cake:not(:disabled):not(.disabled):active:focus, .btn-outline-cake:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem #ff8193;
}

.text-magic {
  color: #ae42bd !important;
}

a.text-magic:hover, a.text-magic:focus {
  color: #8b3597 !important;
}

.text-juice {
  color: #fd9800 !important;
}

a.text-juice:hover, a.text-juice:focus {
  color: #ca7900 !important;
}

.text-ocean {
  color: #00cca3 !important;
}

a.text-ocean:hover, a.text-ocean:focus {
  color: #00997a !important;
}

.text-cake {
  color: #ffb4bf !important;
}

a.text-cake:hover, a.text-cake:focus {
  color: #ff8193 !important;
}

.badge-magic {
  color: #fff;
  background-color: #ae42bd;
}

a.badge-magic:focus, a.badge-magic:hover {
  color: #fff;
  background-color: #8b3597;
}

a.badge-magic.focus, a.badge-magic:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #8b3597;
}

.badge-juice {
  color: #fff;
  background-color: #fd9800;
}

a.badge-juice:focus, a.badge-juice:hover {
  color: #fff;
  background-color: #ca7900;
}

a.badge-juice.focus, a.badge-juice:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ca7900;
}

.badge-ocean {
  color: #fff;
  background-color: #00cca3;
}

a.badge-ocean:focus, a.badge-ocean:hover {
  color: #fff;
  background-color: #00997a;
}

a.badge-ocean.focus, a.badge-ocean:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #00997a;
}

.badge-cake {
  color: #212529;
  background-color: #ffb4bf;
}

a.badge-cake:focus, a.badge-cake:hover {
  color: #212529;
  background-color: #ff8193;
}

a.badge-cake.focus, a.badge-cake:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ff8193;
}

.bg-magic {
  background-color: #ae42bd !important;
}

.bg-juice {
  background-color: #fd9800 !important;
}

.bg-ocean {
  background-color: #00cca3 !important;
}

.bg-cake {
  background-color: #ffb4bf !important;
}

.alert-magic {
  color: #ae42bd;
  background-color: #efd9f2;
  border-color: #efd9f2;
}

.alert-magic hr {
  border-top-color: #ae42bd;
}

.alert-magic .alert-link {
  color: #8b3597;
}

.alert-juice {
  color: #fd9800;
  background-color: #ffeaca;
  border-color: #ffeaca;
}

.alert-juice hr {
  border-top-color: #fd9800;
}

.alert-juice .alert-link {
  color: #ca7900;
}

.alert-ocean {
  color: #00cca3;
  background-color: #99ffeb;
  border-color: #99ffeb;
}

.alert-ocean hr {
  border-top-color: #00cca3;
}

.alert-ocean .alert-link {
  color: #00997a;
}

.alert-cake {
  color: #ffb4bf;
  background-color: white;
  border-color: white;
}

.alert-cake hr {
  border-top-color: #ffb4bf;
}

.alert-cake .alert-link {
  color: #ff8193;
}

.table-magic, .table-magic > th, .table-magic > td {
  background-color: #efd9f2;
}

.table-magic th, .table-magic td, .table-magic thead th, .table-magic tbody + tbody {
  border-color: #ae42bd;
}

.table-hover .table-magic:hover {
  background-color: #dfb3e5;
}

.table-hover .table-magic:hover > td, .table-hover .table-magic:hover > th {
  background-color: #dfb3e5;
}

.table-juice, .table-juice > th, .table-juice > td {
  background-color: #ffeaca;
}

.table-juice th, .table-juice td, .table-juice thead th, .table-juice tbody + tbody {
  border-color: #fd9800;
}

.table-hover .table-juice:hover {
  background-color: #ffd597;
}

.table-hover .table-juice:hover > td, .table-hover .table-juice:hover > th {
  background-color: #ffd597;
}

.table-ocean, .table-ocean > th, .table-ocean > td {
  background-color: #99ffeb;
}

.table-ocean th, .table-ocean td, .table-ocean thead th, .table-ocean tbody + tbody {
  border-color: #00cca3;
}

.table-hover .table-ocean:hover {
  background-color: #66ffe0;
}

.table-hover .table-ocean:hover > td, .table-hover .table-ocean:hover > th {
  background-color: #66ffe0;
}

.table-cake, .table-cake > th, .table-cake > td {
  background-color: white;
}

.table-cake th, .table-cake td, .table-cake thead th, .table-cake tbody + tbody {
  border-color: #ffb4bf;
}

.table-hover .table-cake:hover {
  background-color: white;
}

.table-hover .table-cake:hover > td, .table-hover .table-cake:hover > th {
  background-color: white;
}

.list-group-item-magic {
  color: #ae42bd;
  background-color: #efd9f2;
}

.list-group-item-magic.list-group-item-action:focus, .list-group-item-magic.list-group-item-action:hover {
  color: #ae42bd;
  background-color: #dfb3e5;
}

.list-group-item-magic.list-group-item-action.active {
  color: #fff;
  background-color: #ae42bd;
  border-color: #ae42bd;
}

.list-group-item-juice {
  color: #fd9800;
  background-color: #ffeaca;
}

.list-group-item-juice.list-group-item-action:focus, .list-group-item-juice.list-group-item-action:hover {
  color: #fd9800;
  background-color: #ffd597;
}

.list-group-item-juice.list-group-item-action.active {
  color: #fff;
  background-color: #fd9800;
  border-color: #fd9800;
}

.list-group-item-ocean {
  color: #00cca3;
  background-color: #99ffeb;
}

.list-group-item-ocean.list-group-item-action:focus, .list-group-item-ocean.list-group-item-action:hover {
  color: #00cca3;
  background-color: #66ffe0;
}

.list-group-item-ocean.list-group-item-action.active {
  color: #fff;
  background-color: #00cca3;
  border-color: #00cca3;
}

.list-group-item-cake {
  color: #ffb4bf;
  background-color: white;
}

.list-group-item-cake.list-group-item-action:focus, .list-group-item-cake.list-group-item-action:hover {
  color: #ffb4bf;
  background-color: white;
}

.list-group-item-cake.list-group-item-action.active {
  color: #212529;
  background-color: #ffb4bf;
  border-color: #ffb4bf;
}

.border-magic {
  border-color: #ae42bd !important;
}

.border-juice {
  border-color: #fd9800 !important;
}

.border-ocean {
  border-color: #00cca3 !important;
}

.border-cake {
  border-color: #ffb4bf !important;
}

:root {
  --magic: #ae42bd;
  --juice: #fd9800;
  --ocean: #00cca3;
  --cake: #ffb4bf;
}

/* Unique Styles With no Category */
.m-fa-x {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-fa-l {
  margin-left: 0.75rem;
}

.m-fa-r {
  margin-right: 0.75rem;
}
/*# sourceMappingURL=ncb.css.map */